<footer class="footer bg-dark text-light py-5">
  <div class="container text-center">
    <p class="mb-2">© 2025 Todos los derechos reservados.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#" class="text-light">Sobre nosotros</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-light">Contacto</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-light">Política de privacidad</a>
      </li>
    </ul>
  </div>
</footer>
