<section class="statistics py-5 bg-white">
  <div class="container-xxl">
    <h2 class="mb-5 text-center">Nuestras estadísticas</h2>
    <div class="row text-center">
      <div class="col-12 col-md-3">
        <h3 class="counter" data-target="42">0</h3>
        <p>Hospitales registrados</p>
      </div>
      <div class="col-12 col-md-3">
        <h3 class="counter" data-target="187">0</h3>
        <p>Médicos disponibles</p>
      </div>
      <div class="col-12 col-md-3">
        <h3 class="counter" data-target="2110">0</h3>
        <p>Usuarios satisfechos</p>
      </div>
      <div class="col-12 col-md-3">
        <h3 class="counter" data-target="12">0</h3>
        <p>Especialidades médicas</p>
      </div>
    </div>
  </div>
</section>
