.hero {
  min-height: calc(100vh - 87px);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('/images/assets/bg_hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-bottom: 3rem;

  img {
    width: 80%;
    max-width: 400px;

    @media (width <= 768px) {
      width: 60%;
      margin: 20px auto;
    }
  }

  h1,
  p {
    color: var(--white);
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .search-form {
    display: flex;

    input {
      padding: 0.7rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      padding: 0.7rem 1rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @media (width <= 768px) {
    text-align: center;
  }
}

.hospitals {
  .card {
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 10px var(--primary-color);
    }
  }
}

.statistics {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('/images/assets/statistics_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);

  p {
    color: var(--white);
  }

  .counter {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-out;
  }

  .counter-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.doctors {
  .search-form {
    form {
      background-color: var(--primary-color);
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

.how-works {
  .icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5rem;
    background-color: var(--primary-color);
  }

  p {
    font-size: 1.2rem;
  }
}
